@charset "UTF-8";
.img1{
	margin: 0 auto;
	display: block;
}
body{
	margin: 0 auto;
	display: block;
	width: 800px;
	height: 1000px;
	padding: 10px;	
}
.btitle1{
	font-size: xx-large;
	font-weight: 900;
	font-family: 'Nanum Gothic', sans-serif;
}
.no1{
	float: left;
	font-size: x-small;
	font-weight: normal;
	color: gray;
}
.write1{
	float: left;
	font-size: x-small;
	font-weight: normal;
	color: gray;	
}
.date1{
	float: left;
	font-size: x-small;
	font-weight: normal;
	color: gray;
}
.like1{
	font-size: x-small;
	font-weight: normal;
	color: gray;
}
.content1{
	font-family: 'Nanum Gothic', sans-serif;
}