@charset "UTF-8";
.img1{
	margin: 0 auto;
	display: block;
}
body{
	margin: 0 auto;
	width: 800px;
	height: 1000px;
	padding: 10px;
	
}
.btitle{
	font-size: xx-large;
	font-weight: 900;
	font-family: 'Nanum Gothic', sans-serif;
}
.no{
	float: left;
	font-size: x-small;
	font-weight: normal;
	color: gray;
}
.write{
	float: left;
	font-size: x-small;
	font-weight: normal;
	color: gray;	
}
.date{
	float: left;
	font-size: x-small;
	font-weight: normal;
	color: gray;
}
.like{
	font-size: x-small;
	font-weight: normal;
	color: gray;
}
.content{
	font-family: 'Nanum Gothic', sans-serif;
}