@charset "UTF-8";
body{
	margin: 0;
	padding: 0;
}
nav{
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	background-color: white;
	font-family: 'Noto Serif KR', serif;
	color: #04ACD4;
}

nav ul{
	margin: 0;
	padding: 0;
}

nav li{
	list-style: none;
	float: left;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: relative
}
nav li:hover{
	background: url("../img/bread1.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 50px;
	font-size: 0;
}
.login5{
	float: right;
	font-size: 5px;
	width: 150px;
}
.login2{
	float: right;
	font-size: xx-small;
}

