@charset "UTF-8";
body{
	background-color: white;
}
h1{
	text-align: center;
	margin: 0 auto;
	display: block;
	color : #04ACDC;
}
.img1{
	margin: 0 auto;
	display: block;
}
.write-div{
	margin: 0 auto;
	width: 800px;
	height: auto;
	padding: 10px;
}
.write-div input{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
}
.write-div textarea{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 500px;
	margin: 5px 0px;
}
.btn2{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
}
